{% extends "layout.html" %}

{% block content %}
<div class="jumbotron p-4" style="background-color: aliceblue;">
    <h1 class="display-4">About</h1>
    <p class="lead">
        Hi there! This is Diego (Olmos for friends). I'm a Software Engineer Student trying to learn new things about Web Development.
        This is a simple example of a little Website created with Python and Flask. The idea and concept is not mine. 
        This project was based on <a href="https://youtu.be/fxavwHPJ36o" target="_blank">Fazt</a>. A great YouTube Channel related to programming.
        <br/>
        I just tried to do this to understand how Flask (Python module) works.
    </p>
    <hr class="my-4">
    <p>Who am I? This is my GitHub profile: <a href="https://github.com/olmosdev" target="_blank">olmosdev</a></p>
</div>
{% endblock %}