{% extends "layout.html" %}

{% block content %}
<div class="card mb-3">
    <img src="https://getwallpapers.com/wallpaper/full/c/a/4/993003-full-size-epic-minecraft-background-1920x1080-desktop.jpg" class="card-img-top" alt="... " height="300"  style="object-fit: none;">
    <div class="card-body">
        <h5 class="card-title">What's the meaning of life?</h5>
        <p class="card-text">
            I don't know anything about that, you can google it and see the concept with your own eyes. I hope I have helped :)
            <br/>
            By the way, if you didn't find anything intersting, let me share with you an intersting gaming youTube channel that I discovered the last month. 
            <br/>
            <a class="btn btn-primary btn-lg mt-3" href="https://www.youtube.com/@seryce" role="button" target="_blank">See Seryce</a>
        </p>
        <hr/>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
</div>
{% endblock %}